div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
}

#background {
    padding-top: 40px;
    padding-bottom: 40px;
}

#heading {
    background-color: aliceblue;
    color: black;  
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 2px;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#info {
    background-color: aliceblue;

}