div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    font-family: copperplate, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#background {
    padding-top: 40px;
    padding-bottom: 40px;
}

#heading {
    background-color: aliceblue;
    color: black;  
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 2px;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#info {
    background-color: aliceblue;
    padding: 10px;
}