#main {
    box-sizing: content-box;
    width:50%;
    height: 100%;
    border:5px solid;
    background-color: antiquewhite ;
    margin:40px auto 0 auto;
    padding: 40px 0 20px 0;
    font-family: copperplate, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#header {
    width: 80%;
    max-width: 500px;
    padding: 20px;      
    margin: 0 auto;
    background-color: aliceblue;
    font-weight: bolder;
}
#header img{
    display: block;
    width: 30%;
    margin: 0 auto;
}
h1 {
    color: black;
    text-align: center;
    font-size: 60px;
    margin: 0;
}

ul {
    margin: 30px auto 0 auto;
    width: 70%;
    max-width: 70%;
    padding-left: 0;    
    padding-bottom: 20px;
}

li{
    font-size: 30px;
    color: black;
    margin: 20px auto;
    padding: 10px 0;
    background-color:aliceblue;
    text-align: center;
}

#exception{
    margin-bottom: 0px;
}
li::marker {
    color: rgb(0,0,0);
}

a{
    color:black;
}

hr {
    width: 80%;
    max-width: 480px;
    height: 5px;
    background-color: black ;
}